[submodule "BSV-libraries/BlueAXI"]
	path = BSV-libraries/BlueAXI
	url = https://github.com/esa-tu-darmstadt/BlueAXI.git
[submodule "BSV-libraries/BlueLib"]
	path = BSV-libraries/BlueLib
	url = https://github.com/esa-tu-darmstadt/BlueLib.git
